<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mukilan</title>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/main.js" defer></script>
</head>
<body>
    <script src="/script/slide effect.js" defer></script>
    <script src="/script/script.js"  defer></script>
    <script src="/script/cart.js"  defer></script>
<header class="header">
    <a href="#" class="logo"> <i class="fa-solid fa-baseball-bat-ball"></i>sports products</a>
    <nav class="navbar">
        <a href="#">Shopping cart</a>
        <a href="/contactus">CONTACT</a>
        <a href="#">WISHLIST</a>
        <a href="/userlogin">USER LOGIN</a>
        <a href="/about">ABOUT US</a>
         <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      
        <div class="box">
            <div class="cart-count">0</div>
            <ion-icon name="cart"  id="cart-icon" ></ion-icon>
          </div>
    
          <div class="cart">
            <div class="cart-title">Cart Items</div>
            <div class="cart-content">
    
            </div>
            
          <div class="total">
            <div class="total-title">Total</div>
            <div class="total-price">Rs.0</div>
          </div>
    
          <button class="btn-buy">Place Order</button>
    
          <ion-icon name="close" id="cart-close"></ion-icon>
    
          </div>
        </div>

    </nav>
    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>

</header>

<div class="carousel">
    <div class="carousel_inner">
       <div class="carousel_item carousel_item__active">
          <img src="/images/image-1.jpg" alt="" class="carousel_img">
          <div class="carousel_caption">
             <h1 class="carousel_title">Change It As You See Fit</h1>
             <p class="carousel_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id cupiditate
                corporis laudantium quae velit quam.</p>
          </div>
       </div>
       <div class="carousel_item">
          <img src="/images/image-2.jpg" alt="" class="carousel_img">
       </div>
       <div class="carousel_item">
          <img src="/images/image-3.jpg" alt="" class="carousel_img">
       </div>
    </div>

    <div class="carousel_indicator">
       <button class="carousel_dot carousel_dot__active"></button>
       <button class="carousel_dot"></button>
       <button class="carousel_dot"></button>
    </div>

    <div class="carousel_control">
       <button class="carousel_button carousel_button__prev">
          <i class="fas fa-chevron-left"></i>
       </button>
       <button class="carousel_button carousel_button__next">
          <i class="fas fa-chevron-right"></i>
       </button>
    </div>
 </div>
<section class="banner-container">

    <div class="banner">
        <img src="/images/img4.jpg" alt="">
        <div class="content">
            <span>limited sales</span>
            <h3>upto 50% off</h3>
            <a href="/i" class="btn">shop now</a>
        </div>
    </div>

    <div class="banner">
        <img src="/images/img5.jpg" alt="">
        <div class="content">
            <span>limited sales</span>
            <h3>upto 50% off</h3>
            <a href="/ind" class="btn">shop now</a>
        </div>
    </div>
    <div class="banner">
        <img src="/images/img-1.jpg" alt="">
        <div class="content">
            <span>indoor games </span>
            <h3>upto 50% off</h3>
            <a href="/indoor" class="btn">shop now</a>
        </div>
    </div>

</section>

<!------------ feature categorize-------------->
<h1 class="text">FEATURE PRODUCTS</h1>
<div class="smallcontainer">
    <div class="containers">
        <div class="card">
            <div class="imgBx">
                <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
            </div>

            <div class="contentBx">

                <h2>Nike Shoes</h2>

                <div class="size">
                    <h3>Size :</h3>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                </div>
                <a href="#">Buy Now</a>
            </div>

        </div>
    </div>
    <div class="containers">
        <div class="card">
            <div class="imgBx">
                <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
            </div>

            <div class="contentBx">

                <h2>Nike Shoes</h2>

                <div class="size">
                    <h3>Size :</h3>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                </div>

                <a href="#">Buy Now</a>
            </div>

        </div>
    </div>
    <div class="containers">
        <div class="card">
            <div class="imgBx">
                <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
            </div>

            <div class="contentBx">

                <h2>Nike Shoes</h2>

                <div class="size">
                    <h3>Size :</h3>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                </div>

                <a href="#">Buy Now</a>
            </div>

        </div>
    </div>
    <div class="containers">
        <div class="card">
            <div class="imgBx">
                <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
            </div>

            <div class="contentBx">

                <h2>Nike Shoes</h2>

                <div class="size">
                    <h3>Size :</h3>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                </div>

                <div class="color">

                    <h3>Color :</h3>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="#">Buy Now</a>
            </div>

        </div>
    </div>
  
</div>
    
<!----------------latest product -------------->
<h1 class="text">LATEST PRODUCTS</h1>
<div class="container">
    <h2 class="title"></h2>
    <div class="shop-content">


      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="/images/football.png" class="food-img">
          </div>
          
       
        <h2 class="food-title">FOOTBALL</h2>
        <span class="food-price">Rs.5000₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="/images/cricket_ball.png" class="food-img">
          </div>
          
        <h2 class="food-title">CRICKET BALL</h2>
        <span class="food-price">Rs.650₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>
      <div class="containers">
        <div class="card">
          <div class="imgBx"> 
            <img src="/images/Shuttlecock.png" class="food-img">
          </div>
         
        <h2 class="food-title">SHUTTLECOCK</h2>
        <span class="food-price">Rs.80₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/tennis_ball.png" class="food-img">
          </div>
          
        <h2 class="food-title">tennis ball</h2>
        <span class="food-price">Rs.150₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/boxing_glowse.png" class="food-img">
          </div>
         
       
        <h2 class="food-title">boxing glows</h2>
        <span class="food-price">Rs.2500₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="/images/basketball-.png" class="food-img">
          </div>
         
        <h2 class="food-title">basketball</h2>
        <span class="food-price">Rs.1500₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>
  
      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="/images/baseball glow.png" class="food-img">
          </div>
          
        <h2 class="food-title">baseball glows</h2>
        <span class="food-price">Rs.2000₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>
  
      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/baseball ball.png" class="food-img">
          </div>
          
        <h2 class="food-title">baseball</h2>
        <span class="food-price">Rs.650₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx"> 
             <img src="images/vollyball.png"  class="food-img">
            </div>
        
        <h2 class="food-title">vollyball</h2>
        <span class="food-price">Rs.650₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
          </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="/images/mukilan.png" class="food-img">
          </div>
          
        <h2 class="food-title">leather football</h2>
        <span class="food-price">Rs.1000₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/WhatsApp_Image_2023-03-23_at_13.24.46-removebg-preview.png" class="food-img">
          </div>
          
        <h2 class="food-title">hockey stick</h2>
        <span class="food-price">Rs.2631₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/WhatsApp_Image_2023-03-23_at_13.43.59-removebg-preview.png" class="food-img">
          </div>
        
        <h2 class="food-title">cricket bag</h2>
        <span class="food-price">Rs.6,440₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/helmet.png" class="food-img">
          </div>
          
        <h2 class="food-title">cricket helmet</h2>
        <span class="food-price">Rs.1000₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/cricket glove.png" class="food-img">
          </div>
         
        <h2 class="food-title">cricket glove</h2>
        <span class="food-price">Rs.780₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/s.png" class="food-img">
          </div>
          
        <h2 class="food-title">skating shoes</h2>
        <span class="food-price">Rs.800₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>

      <div class="containers">
        <div class="card">
          <div class="imgBx">
            <img src="images/achers.png" class="food-img">
          </div>
          
        <h2 class="food-title">bow and arrow set</h2>
        <span class="food-price">Rs.10000₹</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
    </div>




    </div>
  
  </div>

<!------------------------testimonial----------------
<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">sports products</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Get started</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App design</a></li>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Logo design</a></li>
          <li><a href="#">Banner design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Account</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Prefrences</a></li>
          <li><a href="#">Purchase</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Courses</li>
          <li><a href="#">HTML & CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Photoshop</a></li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li id="boom">
            <input type="email" name="user-email"   style="text-transform: lowercase;" required/>
           </li>
          <li><input type="button" value="Subscribe"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright &#169; 2021 <a href="#">CodingLab.</a>All rights reserved</span>
      
      </div>
    </div>
  </footer>--->
 <!----------------------review------------------------------
  <div class="testimonial">
    <div class="small-container">
        <div class="row">
                <div class="clo-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>shdgliusdcbSODHCksc cJJSDHCBusdchSDC sdcUSDCusdclKSJDCHBsd cISDGCshgdc
                        hkciuusddvvkjsbdvbsdo dufsidisudf siuudgisudisudf siuudgisudisudfsd
                        sdfsydgfsudgfusyd 
                    </p>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="/images/user-1.png" class="nakku">
                    <h3 class="o">rithish kumar</h3>
                </div>
                <div class="clo-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>shdgliusdcbSODHCksc cJJSDHCBusdchSDC sdcUSDCusdclKSJDCHBsd cISDGCshgdc
                        hkciuusddvvkjsbdvbsdo dufsidisudf siuudgisudisudf siuudgisudisudfsd
                        sdfsydgfsudgfusyd 
                    </p>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="/images/user-2.png" class="nakku">
                    <h3 class="o">shanmugam</h3>
                </div>
                <div class="clo-3">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>shdgliusdcbSODHCksc cJJSDHCBusdchSDC sdcUSDCusdclKSJDCHBsd cISDGCshgdc
                        hkciuusddvvkjsbdvbsdo dufsidisudf siuudgisudisudf siuudgisudisudfsd
                        sdfsydgfsudgfusyd 
                    </p>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="/images/user-3.png" class="nakku">
                    <h3 class="o">saoia</h3>
                </div>
        </div>
    </div>
</div>-->

</body>
</html>

