<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/indoor.css">
</head>
<body>
    <section id="box"> 
         <div class="bigbox">

        <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="/images/carrom bord.png" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">carrom bord</span>
            <h4><a href="">dtc Wooden Carrom board 20 inch 20 cm Carrom Board  (Beige)</a></h4>
            <p>In The Box 
                1 set of Plastic coins, 2 Plastic striker, 2 piece boric powder</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹1000.00</small>₹500.00</div>
                <div class="product-links">
                    <a href=""></a>
                    <a href=""></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="/images/Chess_board_opening_staunton-removebg-preview.png" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">chess board</span>
            <h4><a href="">1 PC WOODEN CHESS BOARD OF 13 inch, 32 CHESSMEN PIECES</a></h4>
            <p>Handmade Game Board 4 cm Chess Board (Brown) Strategy & War Games Board Game</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹600.0</small>₹300.0</div>
                <div class="product-links">
                    <a href=""></i></a>
                    <a href=""></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="images/dice.png" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">dice</span>
            <h4><a href=""> LADDER LUDO DICE</a></h4>
            <p>MOREL WOODEN 4PCS BIG DICE BLACK COLORED DOTS FOR PLAYING SNAKE & </p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹300.0</small>₹150.00</div>
                <div class="product-links">
                    <a href=""></i></a>
                    <a href=""></i></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="images/pexels-skitterphoto-4192.jpg" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">bowling set</span>
            <h4><a href="">QBIC Wooden Bowling Toy Set,</a></h4>
            <p> 6 Pin and Ball Set Bowling</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹800.0</small>₹400.0</div>
                <div class="product-links">
                    <a href=""></a>
                    <a href=""></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="images/racque.jpg" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">table tennis racquet</span>
            <h4><a href="">GKI KUNG FU Table tennis Red Table Tennis Racquet</a></h4>
            <p>All table tennis players have their own style of play. 
                For those of you adept in attack play, the GKI Kung-Fu Table</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹650.00</small>₹325.00</div>
                <div class="product-links">
                    <a href=""></a>
                    <a href=""></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="images/rubic cube.png" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">rubic cube</span>
            <h4><a href="">
                1 4x4x4 Rubic's Cube</a></h4>
            <p>skytrapper BIS Approved Rubic Cube 4x4x4 for 
               Playing and Enhancing Brain Capacity  (1 Pieces)</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹250.00</small>₹125.00</div>
                <div class="product-links">
                    <a href=""></a>
                    <a href=""></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="images/ludo.png" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">ludo bord</span>
            <h4><a href="">Wooden Ludo Board with Free Dice</a></h4>
            <p> Ludo || 4 set of different coloured coins || 1 dice|| Multidesign</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹500.0</small>₹250.00</div>
                <div class="product-links">
                    <a href=""></a>
                    <a href=""></i></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="images/badmiton recquet.jpg" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">badminton racket</span>
            <h4><a href="">Yonex Nanoray Light</a></h4>
            <p>yonex Nanoray Light 18i Black Strung Badminton Racquet (Weight: 77 g, Tension: 30 lbs)</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹3000.00</small>₹1500.00</div>
                <div class="product-links">
                    <a href=""></i></a>
                    <a href=""></i></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">Hot</div>
        <div class="product-tumb">
            <img src="images/b.webp" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">Chocozone Mid-Sized Football Table Soccer</span>
            <h4><a href="">
                Mid-Sized Football Table Soccer Game with 4 Rods</a></h4>
            <p>The four legs of the foosball table have protection pad to protect your 
               floors from getting damaged when you are playing.</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹1499.00</small>₹700.00</div>
                <div class="product-links">
                    <a href=""></a>
                    <a href=""></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="images/game.webp" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">bord game</span>
            <h4><a href="">FUNSKOOL Othello Strategy & War Games Board Game</a></h4>
            <p>Turn your children into master strategists by introducing 
                them to the innovatively designed Othello board gam</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹1000.00</small>₹500.00</div>
                <div class="product-links">
                    <a href=""></a>
                    <a href=""></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-card">
        <div class="badge">offer</div>
        <div class="product-tumb">
            <img src="images/3-magnetic.webp" alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory"> Dart Board Play</span>
            <h4><a href="">1 Magnetic Dart Board, 10 Darts</a></h4>
            <p>KIPA GAMING Magnetic Dart Board Play Set with Darts Game for Kids & 
                Adults Dart Board Board Game</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>₹700.0</small>₹350.0</div>
                <div class="product-links">
                    <a href=""></a>
                    <a href=""></a>
                    <button class="button">buy now</button>
                </div>
            </div>
        </div>
    </div>

    </section>
 

</body>
</html>














